body{
	background-color:#B1BDC5;
}
.navigation-bar{
	position:fixed;
	height:10%;
	width:85%;
	background-color:#43655A;
	top:0;
	right:0;
	transition:2s;
}
.close-navbar{
	width:90%;
	transition:2s;
	
}
.logo-container{
	position:sticky;
	height:90%;
	width:90px;
	float:left;
	border:2px solid;
	border-radius:12px;
	left:10px;
}
.logo-container img{
	
	height:100%;
	width:100%;
	border-radius:12px;
}
.side-bar{
	background-color:#889FA5;
	position:fixed;
	left:0;
	height:100%;
	width:15%;
	bottom:0;
	transition:width 1s;
	
	
}
.navigation-bar li{
	display:inline;
	float:left;
	padding:15px;
	color: #DADDE2;
	
}
.navigation-list{
	float:right;
}
.navigation-bar li a{
	text-decoration:none;
	color: #DADDE2;
	
}
.search-area{
	background-color:#889FA5;
	width:250px;
	height:40px;
	border-radius:20px;
	text-align:center;
	color:white;
	

}
.search-field{
	float:right;
	height:40px;
	width:200px;
	border-radius:20px;
	border:hidden;
	top:50%;
	background-color:#889FA5;
	color:white;
}
.search-field i{
	position:sticky;
	top:50%;
	left:10%;
}
.arrow-button{
	position:inherit;
	width:20px;
	height:20px;
	border-top:3px solid;
	border-left:3px solid;
	float:right;
	border-color:#43655A;
	transform:rotate(-45deg);
	transition:1s;
}
.side-bar .arrow-container{
	positon:absolute;
	width:40px;
	height:40px;
	border-radius:20px;
	background-color: #B1BDC5;
	text-align:center;
	cursor:pointer;
	border:1px solid;
	border-color:#43655A;
	float:right;
	top:50%;	
	bottom:50%;
	right:10%;
	
}
.arrow-container:hover{
	width:46px;
	height:46px;
	border-radius:23px;
	transtion: .5s;
}
.close-side-bar{
	background-color:#889FA5;
	position:absolute;
	left:0;
	height:100%;
	width:10%;
	bottom:0;
	transition:width 1s;
}
.close-side-bar-btn{
	transform:rotate(135deg);
	float:left;
	transition:1s;
	
}
.container{
	width:100%;
	height:10%;
	background-color:#37AAAC;
	color:white;
	
}
.side-bar-content{
	color:#43655A;
	height:10%;
	width:100%;
	border-radius:50px;
	text-align:center;
	float:center;
	
}
.dark-mode-container{
	bottom:10%;
	left:3%;
	height:50px;
	width:50px;
	border-radius:25px;
	position:absolute;
	cursor:pointer;
}
.dark-mode-container:hover{
	bottom:10%;
	left:3%;
	height:56px;
	border-radius:28px;
	width:56px;
}
.icon-container{
	cursor:pointer;
	height:30px;
	width:30px;
	border-radius:15px;
	position:relative;
	
}

.icon-container img{
	height:100%;
	width:100%
	
}

.paragraph{
	visibility:visible;
	transition:1s;
}
.hide-paragraph{
	visibility:hidden;
	transition:1s;
}

.side-bar-content ul li{
	position: relative;
	display:flex;
	padding:9px;
	font-size:20px;
	color:white;
	left:2;
}

.side-bar-content ul li a{
	text-decoration:none;
	background-color:#101827;
	color:white;
	width:100%;
	line-height: 24px;
}
.side-bar-content ul li div:hover{
	background-color:#101827;
	font-size:25px;
}
.side-bar-content ul{
	float:left;
	cursor:pointer;
	list-style-type: none;
}








.dark-mode{
	
	background-color:rgba(21, 30, 47,1);
	transition: 2s;
}

.dark-mode-sidebar{
	background-color:#101827;
	transition: 2s;
	color:white;
}
.dark-navbar{
	background-color:#101827;
}